h1 {
  font-size: 50px;
  text-align: center;
  font-family:"Droid Sans";
  color: red;
}

h2 {
  font-size: 30px;
  color: red;
}
body {
  background-image: url(http://www.surfertoday.com/images/stories/surfetiquette.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 125%;
}



